

.smallspace{
    margin-left:10px;
}

.signupbox
{
    border: 2px solid grey;
    border-radius: 10px;
    margin-left:20px;
    margin-right:20px;
}

.navbarMiniGym{
    margin-left:50px;
}